Source: qdirstat
Section: utils
Priority: optional
Maintainer: Stavros Ntentos <133706+stdedos@users.noreply.github.com>
Build-Depends: debhelper (>= 8),
               qtbase5-dev,
               libz-dev,

Package: qdirstat
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Homepage: https://github.com/shundhammer/qdirstat
Description: graphical disk usage display with cleanup facilities
 QDirStat (Qt Directory Statistics) is a small utility program that sums
 up disk usage for directory trees, very much like the Unix 'du' command.
 It displays the disk space used up by a directory tree, both numerically
 and graphically.  It is network transparent (i.e., you can use it to sum
 up FTP servers), and comes with predefined and user configurable cleanup
 actions.
