[Desktop Entry]
Type=Application
Name=QDirStat
Exec=qdirstat %u
Icon=qdirstat
GenericName=QDirStat Directory Statistics
Terminal=false
MimeType=inode/directory;inode/mount-point;
Categories=Qt;System;Filesystem;
