[Desktop Entry]
Type=Application
Name=QDirStat
Exec=qdirstat "%u"
Icon=qdirstat
X-DocPath=qdirstat/README.md
GenericName=QDirStat Directory Statistics
Terminal=false
MimeType=inode/directory;
Categories=System;Filesystem;
Keywords=disk usage, file system, cleanup;
